FormCurp/Service References/SRCurp/DatosCurp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CurpImp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apellidopa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidoma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ano" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CurpImpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurpImpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CurpImpSoapIn">
    <wsdl:part name="parameters" element="tns:CurpImp" />
  </wsdl:message>
  <wsdl:message name="CurpImpSoapOut">
    <wsdl:part name="parameters" element="tns:CurpImpResponse" />
  </wsdl:message>
  <wsdl:portType name="DatosCurpSoap">
    <wsdl:operation name="CurpImp">
      <wsdl:input message="tns:CurpImpSoapIn" />
      <wsdl:output message="tns:CurpImpSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DatosCurpSoap" type="tns:DatosCurpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CurpImp">
      <soap:operation soapAction="http://tempuri.org/CurpImp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosCurpSoap12" type="tns:DatosCurpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CurpImp">
      <soap12:operation soapAction="http://tempuri.org/CurpImp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatosCurp">
    <wsdl:port name="DatosCurpSoap" binding="tns:DatosCurpSoap">
      <soap:address location="http://localhost:5872/DatosCurp.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosCurpSoap12" binding="tns:DatosCurpSoap12">
      <soap12:address location="http://localhost:5872/DatosCurp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>